* {
    border: none;
    border-radius: 0;
    font-family: Liberation;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(254, 254, 254, 0.2);
    /* border-bottom: 1px solid rgba(100, 114, 125, 0.9); */
    color: #303030;
}

window#waybar * {
    padding: 0 3px;
    margin: 0 2px;
}

#clock {
    margin: 0 10px;
    padding: 0 10px;
    background-color: rgba(254, 254, 254, 0.8);
    border-width: 0 30px 0 30px;
    border-color: #5294e2;
    font-size: 15px;
    font-weight: 600;
}

#taskbar button{
    background-color: rgba(47, 52, 63, 0.8);
    color: #DDDDDD;
    /* width:150px; */
    font-weight: 700;
}
#taskbar button.active{
    background-color: rgba(82, 148, 226, 0.8);
    color: #FFFFFF;
}

@keyframes blink {
    to {
        background-color: #ffffff;
    }
}

/* #modules-left * { */
#custom-thunar, #custom-firefox, #custom-firefoxdrop, #power-profiles-daemon,
#custom-eject, #custom-dpms, #custom-ext, #wireplumber, #custom-lite-xl {
    font-family: Material Design Icons;
    /* no need for Fontello: material even has gentoo and mint icons! */
    /* no way to mix font and symbols https://github.com/Alexays/Waybar/issues/215 */
    font-size: 24px;
    min-width: 36px;
}

/* #modules-left * { */
#custom-sandwitch {
    font-size: 24px;
    font-weight: 900;
    min-width: 36px;
    background-color: #EDDC20;
    color:#888;
}

#custom-lite-xl {
    background-color: #333;
    color:#FF8600;
}

/*
email green     #17C540;
sound sand      #D9D5BC;
archive brown   #a99a6b;
*/

/* #pulseaudio.muted { */
#pulseaudio, #wireplumber {
    background-color: #D9D5BC;
    color: black;
    font-family: Fontello;
    font-size: 18px;
    min-width: 90px;
}

#privacy {
    background-color: #DD0000;
}

#custom-WlGmTemperature {
    background-color: #EDDC20;
}

#custom-WlGmBrightness {
    background-color: #DADADA;
}

#network, #custom-term, #custom-eject {
    background-color: #333333;
    color: #DDDDDD;
    min-width: 36px;
}

#custom-thunar, #custom-dpms, #custom-ext {
    background-color: #5CB3FB;
}

#custom-firefox {
    background-color: #FF8600;
}

#custom-firefoxdrop {
    background-color: #504214;
}

#custom-kernel {
    background-color: rgba(254, 254, 254, 0.8);
}

#tray {
    background-color: #5294e2;
}

#battery, #power-profiles-daemon {
    color: #ffffff;
    background-color: #006f00;
}

#backlight {
    background-color: #DADADA;
}
