/* created according to https://wiki.archlinux.org/index.php/GTK%2B#Client-side_decorations */

.window-frame {
	color: red;
	box-shadow:none;
	margin: 0;
/*	border-right-color:#2d2d2d;
	border-top-color:#1994D1;
	border-left-color:#2d2d2d;
	border-bottom-color:#1994D1; */
	border-color:#2d2d2d;
	border-width: 0px 3px 6px 3px;
/* haut droit bas gauche */
	border-style: solid;
	border-radius: 0;
}
/* :backdrop selector is for inactive/unfocused windows
 * but windows never appear to know they're inactive in OB */

/*
.titlebar {
	color:#1994D1;
	border-radius: 0;
	border-width: 0;
}

.header-bar, .header-bar * {
	box-shadow: none;
	background-color:#2d2d2d;
}

.widget {
	background-color:#2d2d2d;
}

column-header .button {
	color:#000000;
}*/


/* You may want to use this if you don't like the double title.
GtkLabel.title {
    opacity: 0;
}*/

